.table-container{
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0 auto;
    max-width: 80vw;
    max-height: 80vh;

    scrollbar-color: white;

  }

